name: Build Unsigned IPA

on:
  workflow_dispatch: # manuell startbar

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Create ExportOptions.plist for Unsigned IPA
        run: |
          cat <<EOF > ExportOptions.plist
          <?xml version="1.0" encoding="UTF-8"?>
          <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          <plist version="1.0">
          <dict>
            <key>compileBitcode</key>
            <false/>
            <key>method</key>
            <string>development</string>
            <key>signingStyle</key>
            <string>manual</string>
            <key>stripSwiftSymbols</key>
            <true/>
            <key>destination</key>
            <string>export</string>
          </dict>
          </plist>
          EOF

      - name: Build Unsigned IPA
        run: |
          mkdir -p build
          # Build Workspace statt Projekt
          xcodebuild -workspace "PiPifier.xcworkspace" \
                     -scheme "PiPifier" \
                     -sdk iphoneos \
                     -configuration Release \
                     -archivePath $PWD/build/PiPifier.xcarchive archive

          xcodebuild -exportArchive \
                     -archivePath $PWD/build/PiPifier.xcarchive \
                     -exportPath $PWD/build/ \
                     -exportOptionsPlist ExportOptions.plist

      - name: Upload IPA as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: UnsignedPiPifier
          path: build/*.ipa
