name: Build macOS App and Zip

on:
  workflow_dispatch: # manuell startbar

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build macOS App
        run: |
          xcodebuild -workspace PiPifier.xcworkspace \
                     -scheme PiPifier \
                     -configuration Release \
                     -derivedDataPath build

      - name: Zip the .app
        run: |
          mkdir -p build/release
          zip -r build/release/PiPifier.zip build/Build/Products/Release/PiPifier.app

      - name: Upload ZIP as Release
        uses: softprops/action-gh-release@v1
        with:
          files: build/release/PiPifier.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
